{% extends "base.html" %}

{% load custom_filters %}

{% block content %}

{% if user.is_authenticated %}
    <script>
        window.location.href = "{% url 'home' %}";
    </script>
{% else %}

<h1 class="text-5xl shojumaru-regular text-center">Registrarse</h1>

<form method="post" class="shadow-md rounded p-4 my-4 sm:w-1/2 lg:w-1/3  mx-auto">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-4 mt-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.username.id_for_label }}">
            {{ form.username.label }}
        </label>
        {{ form.username|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
        {{ form.username.errors }}
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.first_name.id_for_label }}">
            {{ form.first_name.label }}
        </label>
        {{ form.first_name|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
        {{ form.first_name.errors }}
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.last_name.id_for_label }}">
            {{ form.last_name.label }}
        </label>
        {{ form.last_name|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
        {{ form.last_name.errors }}
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.phone_number.id_for_label }}">
            {{ form.phone_number.label }}
        </label>
        {{ form.phone_number|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
        {{ form.phone_number.errors }}
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.email.id_for_label }}">
            {{ form.email.label }}
        </label>
        {{ form.email|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
        {{ form.email.errors }}
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.birth_date.id_for_label }}">
            {{ form.birth_date.label }}
        </label>
        {{ form.birth_date|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
        {{ form.birth_date.errors }}
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.password1.id_for_label }}">
            {{ form.password1.label }}
        </label>
        {{ form.password1|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
        {{ form.password1.errors }}
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.password2.id_for_label }}">
            {{ form.password2.label }}
        </label>
        {{ form.password2|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
        {{ form.password2.errors }}
    </div>

    <div class="flex items-center justify-center">
        <button class="btn border-2 border-black shadow-md shadow-black p-2 my-2 text-2xl hover:transition-all hover:duration-300 hover:scale-105" type="submit">
            Registrarse
        </button>
    </div>

</form>
{% endif %}

{% endblock %}
